.attraction {

}

.attraction__list {
  @include list-style-reset;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  text-align: left;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 36px 5% 0 14.2%;
  }

  @media (min-width: 800px) {
    justify-content: space-between;
    padding-left: 16%;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding-left: 0%;
    padding-right: 0%;
  }
}

.attraction__item {
  margin-bottom: 54px;
  padding-left: 79px;

  &:last-child {
    margin-bottom: 41px;
  }

  @media (min-width: $tablet-width) {
    width: 42%;
    margin-right: 7.4%;
    margin-bottom: 63px;
  }

  @media (min-width: 800px) {
    &:nth-child(2n){
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-right: 5px;
  }
}

.attraction__item--park {
  order: 2;
}

.attraction__item--rocks {
  order: 4;
}

.attraction__item--brige {
  order: 1;
}

.attraction__item--bell {
  order: 3;
}

@media (min-width: $tablet-width) {
  .attraction__item {
    order: 0;
  }
}

.attraction__label {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: $font-color--input;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -79px;
    width: 56px;
    height: 56px;
    border-radius: 12%;
    background-color: $color-form-input;

    @media (min-width: $tablet-width) {
      top: -16px;
    }
  }
}

.attraction__input:checked + .attraction__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 18px;
  transition:  background 0.1s cubic-bezier(0.15, 0.7, 0.32, 1.28);
}

.attraction__input:hover +.attraction__label::before,
.attraction__input:focus +.attraction__label::before {
  background-color: $color-form-input--active;
}

.attraction__input:active +.attraction__label::before {
  background-color: $color-form-input--down;
}

.attraction__input:disabled +.attraction__label {
  opacity: 0.6;
}

.attraction__input:disabled:hover + .attraction__label::before,
.attraction__input:disabled:focus + .attraction__label::before,
.attraction__input:disabled:active + .attraction__label::before {
  background-color: $color-form-input;
}
