.form-review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    max-width: 1152px;
    padding: 25px 8% 0;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.form-review__caption {
  margin: 18px 0 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color--title;

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--align-left {
      text-align: left;
      margin: 0 0 58px;
    }
  }
}

.form-review__caption--displacement {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 400px;
    margin: -13px auto 20px auto;
    background-color: $color-secondary;
  }
}

.form-review__item {
  margin: 0;
  padding: 0 6%;
  border: none;
  border-bottom: 1px solid $color-border;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
    border-top: 1px solid $color-border;
  }
}

.form-review__item--impression {
  @media (min-width: $tablet-width) {
    width: 50%;
    margin-right: 8.8%;
    border-top: none;
    border-right: 1px solid $color-border;
  }

  @media (min-width: $desktop-width) {
    margin-right: 8.2%;
    .form-review__caption {
      padding-left: 80px;
    }
  }
}

.form-review__item--name {
  order: -1;
  margin-top: 10px;
  border-top: 1px solid $color-border;

  @media (min-width: $tablet-width) {
    order: 0;
    width: 41%;
    margin: 0;
    border: none;
  }
}

.form-review__item--contact {
  order: -1;

  @media (min-width: $tablet-width) {
    order: 0;
    width: 100%;
    margin-top: 80px;
  }
}

.form-review__item--attraction {
  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 36px;

    .form-review__caption--displacement {
      margin-top: -26px;
    }
  }
}

.form-review__item--emotion {
  border-bottom: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 32px;
  }
}

.form-review__button-wrapper {
  width: 100%;
  padding: 0 6%;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.form-review__button {
  width: 100%;
  margin: 46px 0 43px 0;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-top: 52px;
  }
}

.form-review__footnote {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 14px;
    vertical-align: middle;
  }
}
