.main-nav {
  position: relative;
}

.main-nav__list {
  @include list-style-reset;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  background-color: $color-main;
  transition-property: height;
  transition-duration: 5s;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 26px;
    background-color: $color-secondary;
  }
}

//закрытое меню
.main-nav__list--close {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  min-height: 54px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  &:first-child {
    border-top: none;
  }

  &:hover,
  &:focus {
    background-color: $button-color--hover;
  }

  &:active {
    background-color: $button-color--down;
  }

  @media (min-width: $tablet-width) {
    width: 20%;
    text-align: center;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-secondary;
    }
  }
}

.main-nav__item:nth-child(4n+2) {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}

.main-nav__link {
  display: block;
  padding: 7px 0 7px;
  min-height: 54px;
  color: $font-color--reverse;

  &:active {
    color: $font-color--reverse-opacity-30;
  }

  @media (min-width: $tablet-width) {
    min-height: 55px;
    padding-top: 14px;
    color: $font-color--title;

    &:hover,
    &:focus {
      color: $font-color--hover;
    }

    &:active {
      color: $font-color--down;
    }
  }
}

.main-nav__link--active {
  color: $font-color--active-menu;

  &:hover,
  &:focus {
    color: $font-color--active-menu-hover;
  }

  &:active {
    color: $font-color--active-menu-down;
  }

  @media (min-width: $tablet-width) {
    color: $font-color--active-menu;

    &:hover,
    &:focus {
      color: $font-color--active-menu-hover;
    }

    &:active {
      color: $font-color--active-menu-down;
    }
  }
}

.main-nav__logo-link {
  position: relative;
  z-index: 5;
  display: block;
  width: 102px;
  height: 85px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: calc(50% - 102px / 2);
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 187px / 2);
    //делает логотип по центру(ширина логотипа =187/пополам)
    width: 187px;
    height: 96px;
  }
}

.main-nav__logo-link img {
  @media (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
  }
}
