.page-footer {
  @media (min-width: $tablet-width) {
    display: flex;
    padding: 29px 0 36px;
    align-items: flex-start;
  }
}

.page-footer__item {
  @media (min-width: $tablet-width) {
    width:  33.33%;
  }
}

.page-footer__item--text {
  margin: 29px auto 36px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 10px 0 0 0;
  }
}

.page-footer__item--copyright {
  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }
}
.page-footer__link {
  margin: 35px auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color--title;

  &:hover,
  &:focus {
    color: $font-color--hover;
  }
}
