.page-main__heading {
  max-width: 440px;
  margin: 36px auto 27px auto;
  padding: 0 10%;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $font-color--title;

  &--index {
    margin-top: 40px;
  }

  @media (min-width: 660px) {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin: 76px auto 30px;

    &--index {
      margin-top: 52px;
      margin-bottom: 28px;
      font-size: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 112px;

    &--index {
      margin-top: 51px;
    }
  }
}

.page-main__description {
  margin: 0 auto 6px;
  padding: 0 10%;
  line-height: 24px;

  &--form {
    padding: 0 7%;

    @media (min-width: 440px) {
      width: 440px;
      padding: 0;
    }
  }

  &--photo-video {
    max-width: 480px;
    padding: 0 20px;
  }

  @media (min-width: 530px) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}
