.pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0 auto 20px;
  padding: 1px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15),
    0 -1px 10px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
}

.pop-up--show {
  display: block;
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pop-up--error {
  max-width: 400px;
}

.pop-up--susses {
  max-width: 640px;
}

.pop-up__heading {
  margin: 37px auto 28px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color--title;

  @media (min-width: 640px) {
    padding: 0 90px;
    font-size: 30px;
    line-height: 40px;
  }
}

.pop-up__description {
  margin-bottom: 25px;
  padding: 0 16%;
  line-height: 24px;
}

.pop-up__button {
  width: 87.5%;
  max-width: 460px;
}

.pop-up__button--min-width {
  width: 56%;
  margin-bottom: 36px;

  @media (min-width: 400px) {
    width: 68%;
  }
}

.pop-up__footer {
  margin-top: 35px;
  padding: 20px 0;
  background-color: #f2f2f2;

  @media (min-width: 640px) {
    padding: 40px 0;
  }
}
