.social__list {
  @include list-style-reset;
  margin-bottom: 34px;
  padding: 0 20%;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: $button-color;
}

.social__icon {
  fill: $font-color--reverse;
}

.social__link:hover,
.social__link:focus {
  background-color: $button-color--hover;
}

.social__link:active {
  background-color: $button-color--down;

  .social__icon {
    fill: $font-color--reverse-opacity-30;
  }
}
