.user-contact {
  padding-bottom: 15px;
}

.user-contact__inner {
  @media (min-width: $tablet-width) {
    padding-top: 7px;
  }

  @media (min-width: 1070px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 54px;
  }
}

.user-contact__label {
  position: relative;
  display: block;
  margin-bottom: 13px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: 1070px) {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
}

.user-contact__caption {
  display: block;
  margin-left: 22px;
  margin-bottom: 10px;

  @media (min-width: 1070px) {
    margin: 0 20px 0 0;
  }
}

.user-contact__desktop-hidden {
  @media (min-width: 1070px) {
    display: none;
  }
}

.user-contact__input {
  position: relative;
  width: 100%;
  height: 58px;
  padding: 10px 18px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: $font-color--input;
  border: 4px solid $color-form-input;
  background-color: $color-form-input;

  @include placeholder;

  &:hover {
    border-color: $color-form-input--active;
    background-color: $color-form-input--active;
  }

  &:active,
  &:focus {
    border-color: $color-form-input--active;
    background-color: transparent;
  }

  @media (min-width: 1070px) {
    width: 315px;

    &--phone {
      width: 311px;
    }
  }
}

//при ошибке заполнения поля
.user-contact__input--error {
  border-color: $color-error;
  background-color: $color-error;
}

.user-contact__input--error + .user-contact__icon {
  background-color: $color-error;
}

.user-contact__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: $gray-light--2;
  background-repeat: no-repeat;
  background-position: center center;

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.user-contact__input:active + .user-contact__icon,
.user-contact__input:focus + .user-contact__icon {
  display: none;
}
