@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  min-width: 320px;
  font-family: "PT sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.main-nav {
  position: relative; }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  background-color: #81b3d2;
  -webkit-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 5s;
       -o-transition-duration: 5s;
          transition-duration: 5s; }

.main-nav__list--close {
  display: none; }

.main-nav__item {
  min-height: 54px;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8; }
  .main-nav__item:first-child {
    border-top: none; }
  .main-nav__item:hover, .main-nav__item:focus {
    background-color: #669ec0; }
  .main-nav__item:active {
    background-color: #5496bd; }

.main-nav__link {
  display: block;
  padding: 7px 0 7px;
  min-height: 54px;
  color: #ffffff; }
  .main-nav__link:active {
    color: rgba(255, 255, 255, 0.3); }

.main-nav__link--active {
  color: #766357; }
  .main-nav__link--active:hover, .main-nav__link--active:focus {
    color: #604e43; }
  .main-nav__link--active:active {
    color: rgba(118, 99, 87, 0.3); }

.main-nav__logo-link {
  position: relative;
  z-index: 5;
  display: block;
  width: 102px;
  height: 85px;
  margin: 0 auto; }

@media (min-width: 768px) {
    .main-nav__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 14px;
      line-height: 26px;
      background-color: #ffffff; }
    .main-nav__list--close {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .main-nav__item {
      width: 20%;
      text-align: center;
      border: none; }
      .main-nav__item:hover, .main-nav__item:focus, .main-nav__item:active {
        background-color: #ffffff; }
  .main-nav__item:nth-child(4n+2) {
    margin-right: auto; }
    .main-nav__link {
      min-height: 55px;
      padding-top: 14px;
      color: #000000; }
      .main-nav__link:hover, .main-nav__link:focus {
        color: #81b3d2; }
      .main-nav__link:active {
        color: rgba(0, 0, 0, 0.3); }
    .main-nav__link--active {
      color: #766357; }
      .main-nav__link--active:hover, .main-nav__link--active:focus {
        color: #604e43; }
      .main-nav__link--active:active {
        color: rgba(118, 99, 87, 0.3); }
    .main-nav__logo-link {
      position: absolute;
      top: 0;
      left: calc(50% - 102px / 2); } }

@media (min-width: 1200px) {
    .main-nav__logo-link {
      left: calc(50% - 187px / 2);
      width: 187px;
      height: 96px; }
  .main-nav__logo-link img {
    width: 187px;
    height: 96px; } }
