@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin outline {
  outline: 1px solid red;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    color: $font-color--input;
  }
  &::-moz-placeholder {
    color: $font-color--input;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: $font-color--input;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $font-color--input;
  }
}
