$font-main: "PT sans", "Arial", "Helvetica", sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$blue: #81b3d2;
$blue-dark: #669ec0;
$blue-darker: #5496bd;
$black: #000000;
$black-opacity-30: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$dark-gray: #333333;
$gray-light: #eeeeee;
$gray-light--1: #e5e5e5;
$gray-light--2: #e6e6e6;
$gray-light--3: #d5d5d5;
$gray-lighter: #f2f2f2;
$gray: #d6d6d6;
$red: #ffb1b1;

$color-main: $blue;
$color-main--darker: $blue-dark;
$font-color: $dark-gray;
$font-color--reverse: $white;
$font-color--reverse-opacity-30: rgba(255, 255, 255, 0.3);
$font-color--title: $black;
$font-color--input: $black;
$font-color--hover: $blue;
$font-color--down: $black-opacity-30;
$font-color--active-menu: #766357;
$font-color--active-menu-hover: #604e43;
$font-color--active-menu-down: rgba(118, 99, 87, 0.3);
$color-secondary: $white;
$color-form-input: $gray-lighter;
$color-form-input--active: $gray-light--1;
$color-form-input--down: $gray-light--3;
$color-border: $gray-light--1;
$button-color: $blue;
$button-color--hover: $blue-dark;
$button-color--down: $blue-darker;
$color-error: $red;
